.perguntas {
  margin-bottom: 120px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas-frequentes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.perguntas-frequentes dt {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.perguntas-frequentes-item dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-right: 8px;
}

.perguntas-frequentes-item dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url(../img/icons/planos/seta-abrir.svg);
}

@media (max-width: 400px) {
  .perguntas h2 {
    font-size: 40px;
  }
}
